
video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .video-wrapper {
    position: relative;
    overflow: hidden;
  
    display: flex;
  
  }
  
  /* Just styling the content of the div, the *magic* in the previous rules */
  
  
  .main-head{
    z-index: 1;
      height: 150px;
      background: #FFF;
  
  }
  
  .sidenav {
      height: 100%;
      background-color: #8BBF9C;
      overflow-x: hidden;
      padding-top: 20px;
  }
  
  
  .main {
      padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
  }
  
  @media screen and (max-width: 450px) {
      .login-form{
          margin-top: 10%;
      }
  
      .register-form{
          margin-top: 10%;
      }
  }
  
  @media screen and (min-width: 768px){
      .main{
          margin-left: 30%;
      }
  
      .sidenav{
          width: 40%;
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
      }
  
      .login-form{
          margin-top: 20%;
      }
  
      .register-form{
          margin-top: 20%;
      }
  }
  
  
  .login-main-text{
      z-index: 1;
      margin-top: 8%;
      padding: 60px;
      color: #000;
  }
  
  .login-main-text h2{
      font-weight: 300;
  }
    